h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    max-width: 1170px;
    margin: auto;
    background-color: #fcc557;
    display: block;
    padding: 25px;
}

.menu {
    width: 25%;
    float: left;
    background-color: #3e65af;
    display: block;
    padding: 2.5%;
}

#music, #ministry, #coding {
    display: none;
}

.content {
    width: 65%;
    float: left;
    background-color: #3eaf5a;
    display: block;
    padding: 2.5%;
}